body {
  font-family: 'Inria Serif', serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display:none;
}
header {
  background-color: #fff;
  color: #000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  padding-left: 35px;
  padding-top: 20px;
  line-height: 1.2;
}
.logo a {
  color: #000;
  text-decoration: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-right: 40px;
  display: flex;
  padding-top: 40px;
}
nav ul li {
  margin-left: 30px;
}
nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
nav ul li a:hover {
  text-decoration: underline;
}
main {
  width: 100%;
  margin: 0 auto;
}
.content {
  text-align: center;
  padding-top: 50px;
}
.profile-picture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.content p {
  font-size: 20px;
  line-height: 1.2;
}
.content .links {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .links a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  background-color: #4d4d4d;
  padding: 20px 40px;
  margin-left: 50px;
  border-radius: 10px;
}
.content .links a:hover {
  background-color: #919292;
  box-shadow: 0px 4px 15px rgba(50, 50, 50, 0.5);
}
.about-child {
  width: 55%;
  margin: 0 auto;
}
.about-child h2 {
  font-size: 35px;
  padding-top: 35px;
}
.about-child h3 {
  font-size: 25px;
  line-height: 1.5;
}
.skills p {
  font-size: 15px;
}
.history-child {
  width: 55%;
  margin: 0 auto;
}
.history-child h1 {
  font-size: 35px;
  padding-top: 35px;
}
.history-child h2 {
  font-size: 25px;
  line-height: 1.5;
}
.timeline h2 {
  font-size: 20px;
  padding: 20px 20px;
  margin-bottom: 30px;
  background-color: #d9d9d9;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.timeline {
  padding-bottom: 50px;
}
.timeline .left {
  text-align: left;
}
.timeline .right {
  text-align: right;
}
.timeline .timeline-link {
  position: relative;
}
.history-child .timeline .timeline-link a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.timeline .timeline-link a:hover {
  box-shadow: 0px 4px 15px rgba(50, 50, 50, 0.7);
}
.history-info {
  margin-top: 70px;
}
.history-info h3 {
  text-decoration: underline;
  text-decoration-color: #d9d9d9;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
}
.history-info p {
  margin-top: 40px;
}
.history-info .history-description p {
  font-size: 18px;
  padding: 10px;
  width: 58%;
  margin: 0 auto;
}
.products-child h1 {
  font-size: 35px;
  padding-top: 35px;
}
.product-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.product-thumbnail {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
.product-thumbnail img {
  max-width: 100%;
  height: auto;
}
.product-thumbnail a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product-thumbnail a:hover {
  box-shadow: 0px 4px 15px rgba(50, 50, 50, 0.7);
}
.product-thumbnail p {
  margin: 0px;
}
.project-details {
  width: 55%;
  margin: 0 auto;
}
.project-details h1 {
  font-size: 35px;
  padding-top: 35px;
}
.project-details img {
  width: 100%;
  height: auto;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}
footer {
  margin: 5px;
  color: #000;
  padding-top: 50px;
  padding-right: 30px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    padding: 15px;
  }
  nav ul {
      display: none;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
      z-index: 1000;
      padding-left:0
  }
  nav ul.active {
      display: flex;
  }
  nav ul li {
      width: 100%;
      text-align: center;
      margin: 0 0;
  }
  .content .links {
    flex-direction: column;
  }
  .content .links a {
    width: 80%;
    margin: 10px auto;
  }
  .product-row {
    flex-direction: column;
    align-items: center;
  }
  .product-thumbnail {
    margin: 10px 0;
    width: 80%;
  }
}
